image: Visual Studio 2017
platform: x64

clone_depth: 10

environment:
  MOCHA_TIMEOUT: "60000"
  NO_BREAKPOINTS: "1"
  matrix:
      - BUILD_JOB: "short_tests"
      - BUILD_JOB: "scenarios_build"

install:
  - ps: Install-Product node 14.17.6 x64
  - cmd: appveyor-retry yarn install:all
  - cmd: appveyor-retry yarn bootstrap:remote

build: off

test_script:
  - ps: yarn build:css; yarn build:elm
  - ps: if ($env:BUILD_JOB -eq "short_tests") { yarn test:elm }
  - ps: if ($env:BUILD_JOB -eq "short_tests") { yarn test:world --timeout $env:MOCHA_TIMEOUT }
  - ps: if ($env:BUILD_JOB -eq "short_tests") { yarn test:unit --timeout $env:MOCHA_TIMEOUT }
  - ps: if ($env:BUILD_JOB -eq "short_tests") { yarn test:integration --timeout $env:MOCHA_TIMEOUT }
  - ps: if ($env:BUILD_JOB -eq "scenarios_build") { yarn test:scenarios --timeout $env:MOCHA_TIMEOUT }

on_failure:
  - node --version
  - npm --version
  - yarn --version

on_finish:
  - ps: if ($env:BUILD_JOB -eq "scenarios_build") { yarn dist }
  - ps: Push-AppveyorArtifact dist\latest.yml
  - ps: Resolve-Path -Path "dist\Cozy[ -]Drive[ -]Setup[ -]*.exe" -Relative | % { Push-AppveyorArtifact $_ }
