/.env.dev
/.env.test
/.nyc_output
/coverage

/cli/.env.test
/cli/lib
/cli/storage/
/cli/debug.log

/doc/api/

/gui/app.css
/gui/app.css.map
/gui/elm.js
/dist
/elm-stuff
/test/elm/elm-stuff
/core-built
/core-cov

/coverage-*

node_modules
tmp

debug.log
yarn-error.log
*.log
