/*
  Generic animations
*/
/*
  Panels animations
*/
.slide-enter {
  animation: moveFromRight;
}
.slide-leave {
  animation: moveToLeft;
}
.slide-leave-up {
  transition: all ease 0.3s;
  position: absolute;
  top: -100%;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes moveToLeft {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}
@-webkit-keyframes moveToLeft {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}
@-o-keyframes moveToLeft {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}
@keyframes moveToLeft {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}
@-moz-keyframes moveFromRight {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}
@-webkit-keyframes moveFromRight {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}
@-o-keyframes moveFromRight {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}
@keyframes moveFromRight {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}
@-moz-keyframes moveFromBottomToTop {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -100%);
  }
}
@-webkit-keyframes moveFromBottomToTop {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -100%);
  }
}
@-o-keyframes moveFromBottomToTop {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -100%);
  }
}
@keyframes moveFromBottomToTop {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -100%);
  }
}

@font-face {
  font-family: styled;
  src: url("../fonts/maven-pro-light-200.otf");
}
@font-face {
  font-family: styledlight;
  src: url("../fonts/maven-pro-light-100.otf");
}
@font-face {
  font-family: main;
  src: url("../fonts/source-sans-pro.ttf");
}
h1 {
  font-family: styledlight;
  font-weight: bold;
  font-size: 40px;
}
h2 {
  font-family: styled;
  font-weight: normal;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 5px;
}
a {
  color: #1baaf4;
}
a:hover {
  color: #fe8800;
}
p {
  font-family: main;
}
label {
  font-family: main;
  font-size: 20px;
}
input,
select,
textarea {
  padding: 4px;
  border: 1px solid #1baaf4;
  border-radius: 0;
  font-family: styled;
  font-size: 20px;
  font-weight: normal;
}
input:hover,
select:hover,
textarea:hover {
  border: 1px solid #fe8800;
}
input:active,
select:active,
textarea:active,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  border: 1px solid #fe8800;
}
.modal-header {
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: styled;
  font-size: 26px;
  background-color: bluegreen;
  color: #fff;
}
.modal-body {
  font-family: main;
}
.modal-body input,
.modal-body select {
  border: 1px solid #1baaf4;
  border-radius: 0;
  font-family: styled;
}
.modal-body input:hover,
.modal-body select:hover {
  border: 1px solid #fe8800;
}
.modal-body input:focus,
.modal-body select:focus,
.modal-body input:active,
.modal-body select:active {
  border: 1px solid #1baaf4;
  box-shadow: none;
}
.btn {
  position: relative;
}
.btn.btn-cozy {
  padding: 10px;
  border-radius: 5px;
  border: 0px solid #1baaf4;
  font-family: main;
  font-size: 18px;
  background-color: #1baaf4;
  color: #fff;
}
.btn.btn-cozy .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.btn.btn-cozy:hover {
  background-color: #fe8800;
  border-color: #fe8800;
}
.btn.btn-cozy.bigger {
  font-size: 24px;
  padding: 10px;
}
.btn.btn-cozy:active,
.btn.btn-cozy:focus {
  border: 0px;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 1px 2px rgba(0,0,0,0);
}
.btn.btn-cozy.toggled {
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 1px 2px rgba(0,0,0,0);
  background-color: #0b9de9;
}
.btn.btn-cozy.toggled:hover {
  background-color: #e57a00;
}
.btn.btn-cozy-contrast {
  background-color: #3fc53f;
  border-color: #3fc53f;
  color: #fff;
}
.btn.btn-cozy-contrast:hover {
  background-color: #fe8800;
  border-color: #fe8800;
}

body {
  padding: 20px;
}
.line input {
  margin-top: 10px;
}
#logo {
  width: 250px;
}
.explanation {
  font-size: 16px;
}
button.btn.btn-cozy.smaller {
  font-size: 14px;
  padding: 5px;
}
button.disabled {
  opacity: 0.5;
}
button.btn.btn-cozy.disabled:hover {
  background-color: #1baaf4;
}
button.btn.btn-cozy.disabled:active,
button.btn.btn-cozy.disabled:focus {
  box-shadow: none;
}
