:root {
  --buttonBorderRadius: 100px
}

.c-btn
  text-transform: math-auto

.c-btn[aria-busy=true] > span::after
  content ''
  position relative
  left .5rem

  @extend $icon-16
  @extend $spin
  background-color: var(--primaryContrastTextColor)
