.details
  padding: 1rem 1.5rem
  white-space: pre-line
  overflow: auto

  h1
    font-size: 1.8rem

  h1, h2, h3, h4, h5, h6
    font-weight: 500

.details__header
  min-height: 3rem
  margin-bottom: 2rem
  text-align: center

  h1
    font-size: 2rem
    line-height: 1.2
    font-weight: 900

