body > svg
    height 0
    width 0
    float left

figure svg
    max-width: 4.5em
    height: 4.5em

figure .svg-wrapper
    margin: auto
    max-width: 4.5em
    height: 4.5em
    border-radius: 50%
    padding: 1em
    box-shadow: 0 1px 3px rgba(50, 54, 63, .19), 0 4px 12px rgba(50, 54, 63, .12)
    background-color: var(--dodgerBlue)
    margin-bottom: 3em
