$itemLinePaddingRight = .5em
$itemLinePaddingTop = 1.1em

$item-line
  padding $itemLinePaddingTop $itemLinePaddingRight $itemLinePaddingTop 5em
  font-weight: normal
  position: relative
  width 100%
  box-sizing border-box
  display: flex
  flex-direction: column
  border-bottom: 1px solid #d6d8da
  cursor: pointer

  &:hover, &:active
    background: var(--paleGrey)
    .file-path
      text-decoration: underline
