@require './node_modules/cozy-ui/react/Tabs/styles.styl'
@require './node_modules/cozy-ui/stylus/components/button.styl'
@require './node_modules/cozy-ui/stylus/components/tabs.styl'
@require './node_modules/cozy-ui/stylus/settings/palette.styl'
@require '_spin'

.container
  display flex
  flex-direction column
  width 100vw
  height 100vh

.two-panes
  flex 1 0
  display flex
  flex-direction column
  overflow-y auto

.two-panes__menu
  @extend $tabs-base .coz-tab-list

.two-panes__menu__item
  @extend $tabs-base .coz-tab
  font-size: rem(16)
  font-weight: normal

.two-panes__menu__item--active
  @extend $tabs-base .coz-tab--active

.two-panes__content
  box-sizing border-box
  font-size .8em
  overflow-x hidden
  flex: 1

  a:not([class*="btn"])
    color var(--scienceBlue)
    text-decoration none

  h2
    font-size: 1.2em
    margin-top 1.8em

  h2:first-of-type
    margin-top .5em

  h3
    a
      color var(--coolGrey)
      font-size 1em

  .help-list
    display flex
    padding 0
    li
      flex 1
      display inline-block
      box-sizing border-box
      padding 1em
    a
      display flex
      flex-direction column
      align-items center
    .icon
      display block
      width 96px
      height 96px
      margin-bottom .3em
      background-image url('images/sprite-help.svg')
      background-size auto 100%
      background-repeat no-repeat
    .icon--forum
      background-position 0 0
    .icon--irc
      background-position -96px 0
    .icon--github
      background-position -192px 0
    .icon--email
      background-position -288px 0
    .icon--twitter
      background-position -384px 0
    .icon--documentation
      background-position -480px 0

  .disk-space
    display flex
    line-height 2.4
  .disk-space__icon
    margin-right .5em

  .recent-files
    display flex
    flex-direction column
    justify-content center
    width 100%

  .file-line
    padding 1.1em .5em 1.1em 5em
    font-weight: normal
    position: relative
    width 100%
    box-sizing border-box
    display: flex
    flex-direction: column
    border-bottom: 1px solid #d6d8da
    cursor: pointer;

    &:hover, &:active
      background: var(--paleGrey)

      .file-path
        text-decoration: underline

  .file-type
    content ''
    position absolute
    left 1em
    top 0
    bottom 0
    margin auto 0
    width 2rem
    height 2rem
    background-size cover
    background-position center center

    for mimetype in 'archive' 'audio' 'binary' 'code' 'contact' 'cozy-note' 'file' 'folder' 'image' 'link' 'pdf' 'presentation' 'spreadsheet' 'text' 'video'
        &.file-type-{mimetype}
            background-image url("./images/type-icons/icon-type-" + mimetype + ".svg")

    &.file-type-link::before
      content: ''
      z-index: 1
      position: absolute
      height: 1.125rem
      width: 1.125rem
      top: 80%
      right: 12%
      transform: scale(1) translate(50%, -50%)
      transform-origin: 100% 0%
      background-color: var(--white)
      border-radius: 12px
      border: 1px solid var(--silver)

    &.file-type-link::after
      content: ''
      z-index: 2
      position: absolute
      height: 1.125rem
      width: 1.125rem
      top: 80%
      right: 12%
      transform: scale(1) translate(50%, -50%)
      transform-origin: 100% 0%

      -webkit-mask-image: embedurl('./images/link.svg')
      -webkit-mask-position: center
      -webkit-mask-size: .625rem
      -webkit-mask-repeat: no-repeat
      mask-image: embedurl('./images/link.svg')
      mask-position: center
      mask-size: .625rem
      mask-repeat: no-repeat
      background-color: var(--slateGrey)

  .file-line-content
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    display inline-block

  .file-name-wrapper
    font-size: 1rem
    line-height: 1.3

    .file-name-name
      color var(--charcoalGrey)

    .file-name-ext
      color var(--coolGrey)

  .file-extra
    font-size: .75rem
    line-height: 1.3
    color var(--coolGrey)

    .file-time-ago::after
      content ' · '

    .file-parent-folder
      cursor: pointer

      &:hover, &:active
        text-decoration: underline


  .show-more-container
    text-align: center
    padding 1.8em
    .show-more-btn
      border 1px solid #d6d8da
      background-color transparent
      text-transform   uppercase
      text-decoration  none
      cursor           pointer
      font-family: Lato
      color var(--charcoalGrey)
      font-weight: bold;
      padding: .8em 2em .8em 2em;
      border: 1px solid #d6d8da;
      border-radius: 2px

      &:hover, &:active
        background-color: var(--silver)
        border 1px solid #d6d8da

  .send-mail-to-support
    textarea
      width 100%
      height 10em
      background-color var(--paleGrey)
      border 1px solid grey-03
      border-radius 5px
      margin-bottom .5em

  .message--success
    color var(--dodgerBlue)
    font-weight bold

  .message--error
    color var(--pomegranate)
    font-weight bold

  &.user-action-required
    padding 2em
    justify-content center

    img
      display: block
      width: 10em
      margin: 0px auto 2em auto

    h2
      text-align center

    a
      cursor pointer


.progress
  width 100%
  height .5em
  border 1px solid var(--coolGrey)
  border-radius .1em
  overflow hidden
  background-color var(--paleGrey)

  .progress-inner
    height 100%
    background-color var(--scienceBlue)
    transition: .3s

  &.indeterminate
    .progress-inner
      width 30%
      transition: none
      animation slide 2s infinite linear


.two-panes__content--settings
  padding 1em

  strong
    width 25%
    color var(--coolGrey)
    display inline-block

  .btn--danger
    @extend $button
    @extend $button--danger-outline
    @extend $button--center
    width 100%

    &:active, &:not([disabled]):not([aria-disabled=true]):hover, &:focus
      border 1px solid #fdcbcb

    // TODO figure out why we need to add that for
    // properly placed spinner
    &[aria-busy=true]
      &:hover, &:active, &:focus
        background-color: var(--white) !important
        cursor: default

      &::after
          width 1em
          height 1em
          position   relative
          top        .3em


  .toggle
    margin-left 1em
    display inline-block
    vertical-align middle


.two-panes__content--help
  padding 2em

  .btn--msg
    @extend $button
    @extend $button--center

    // TODO figure out why we need to add that for
    // properly placed spinner
    &[aria-busy=true]

      &::after
          width 1em
          height 1em
          position   relative
          top        .3em
