.two-panes
  @extend $app-2panes-toolbar

.two-panes__menu
  width 250px
  padding-right .5em
  background-color grey-01
  font-size em(20px)
  font-weight bold
  ul
    padding 0

.two-panes__menu__item
  list-style none
  margin .3em 0
  border-radius 0 4px 4px 0
  transition background-color .1s
  &:hover
    background-color grey-03
  a
    display block
    padding .6em 2.5em
    color grey-06
    text-decoration none
    span
      padding-left .5em
      vertical-align super

.two-panes__menu__item--active
  background-color blue
  &:hover
    background-color blue
  a
    color white

.two-panes__content
  padding 2em
  color grey-06

  h1
    font-size em(32px)
  h2
    font-size em(24px)
  p
    font-size em(20px)
    line-height 1.5em
  a
    color blue
    text-decoration none

  .btn
    display inline-block
    width 300px
    color blue
    background-color grey-01
    padding .8em
    text-align center
    text-transform uppercase
    text-decoration none
    font-weight bold
    font-size em(20px)
    border-radius em(5px)
    &:hover
      background-color grey-03

  .btn--danger
    color #FD7461
