@require '_spin'

.unlinked
  overflow hidden
  width 100vw
  height 100vh
  display flex
  flex-direction column
  justify-content space-between
  align-items center

  .spacer, h1, p
    flex 1
    color grey-07

  a, p
    box-sizing border-box
    width 50vw
    font-size 1.5rem

  .btn
    box-shadow 0 1px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    color white
    background-color blue
    margin-bottom 2em
    padding 1em
    text-align center
    text-transform uppercase
    text-decoration none
    font-weight bold
    font-size 1.25rem
    border-radius .2em
    overflow hidden
    &:hover
      opacity 0.9
    &:active
      opacity 0.8
    &[aria-busy=true]
      position relative
      &:before
        @extend $icon
        @extend $spin
        @extend $icon-16
        left 33%
