@require '_spin'

.updater
  overflow hidden
  width 100vw
  height 100vh
  display flex
  flex-direction column
  justify-content space-around
  align-items center
  text-align: center

  .spacer, h1, p
    color grey-07

  h1, p, .progress
    width 70vw

  .progress-indicator
    text-align: right
    width 70vw
    margin-top: .5em

  p
    box-sizing border-box

  h1 .logo
    margin: 0

  h1 .logo svg
    max-width 90px
    height 69px
