@font-face
  font-family 'Source Sans Pro'
  font-style normal
  font-weight 400
  src url('fonts/sourcesanspro-regular.woff') format('woff')

@import 'cozy-ui'

@keyframes spin
  from
    transform translateY(-50%) rotate(0deg)
  to
    transform translateY(-50%) rotate(360deg)

@keyframes rotate
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)

@import '_wizard'
@import '_two_panes'
@import '_unlinked'

@media (max-width: 1000px)
  html
    font-size 0.8

@media (min-width: 1600px)
  html
    font-size 1.25

body
    font-family 'Source Sans Pro', sans-serif

h1
  font-size 2rem

h2
  font-size 1.5rem

p
  font-size 1.25rem
  line-height 1.6
