@import 'cozy-ui'

@font-face
  font-family 'Source Sans Pro'
  font-style normal
  font-weight 400
  src url('../fonts/sourcesanspro-regular.woff') format('woff')

.step
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  width 100vw
  height 100vh
  color white

  .upper
    flex 12
    display flex
    flex-direction column
    justify-content flex-end

  h2
    flex 6
    font-size em(30px)

  input
    width 50vw
    background-color transparent
    border 0
    font-weight bold
    font-size em(30px)
    &::-webkit-input-placeholder
      color white
      font-weight normal
    &:focus
      outline none

  a, p
    box-sizing border-box
    width 50vw

  a
    color white

  p
    flex 6
    font-size em(24px)

  .more-info
    flex 1
    text-decoration none
    font-size em(20px)

  .btn
    box-shadow 0 1px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    color blue
    background-color white
    margin-bottom 2em
    padding 1em
    text-align center
    text-transform uppercase
    text-decoration none
    font-weight bold
    font-size em(20px)
    border-radius em(4px)
    overflow hidden

.step-welcome
  h2
    color grey-06
  .btn
    color white
    background-color blue

.step-address
  background-color blue

.step-password
  background-color turquoise
  .btn
    color turquoise

.step-folder
  background-color purple
  .btn
    color purple

.step-error
  background-color red
