@font-face
  font-family 'Source Sans Pro'
  font-style normal
  font-weight 400
  src url('../fonts/sourcesanspro-regular.woff') format('woff')

@import 'cozy-ui'
@import '_wizard'
@import '_two_panes'

h1
  font-size: 2rem

h2
  font-size: 1.5rem

p
  font-size: 1.25rem
  line-height: 1.6
