animationDuration = .3s

/*
  Generic animations
*/
@keyframes fadeIn {
  from {
    opacity 0
  }
  to {
    opacity 1
  }
}

/*
  Panels animations
*/

@keyframes moveToLeft {
  from {
    transform translate(0)
  }
  to {
    transform translate(-100%)
  }
}

@keyframes moveFromRight {
  from {
    transform translate(100%)
  }
  to {
    transform translate(0)
  }
}

.slide-enter
    animation: moveFromRight

.slide-leave
    animation: moveToLeft

@keyframes moveFromBottomToTop {
  from {
    transform translate(0, 0)
  }
  to {
    transform translate(0, -100%)
  }
}

.slide-leave-up
    transition: all ease 0.3s
    position: absolute
    top: -100%
