// blue
blue = #1baaf4
// green
contrastcolor = #5C5
// orange
actioncolor = #fe8800
actioncolor-alpha = rgba(254,128,0,0.5)
// gray and dark gray
lightcolor = #EEE
mediumcolor = #BDBDBD
mediumcolor-contrast = #428bca
darkcolor = #444
// special cozy colors
homeheadercolor = #363a46

@font-face
    font-family styled
    src url('../fonts/maven-pro-light-200.otf')

@font-face
    font-family main
    src url('../fonts/source-sans-pro.ttf')

.mt1
    margin-top: 10px

.mt2
    margin-top: 20px

h1
    font-family styled
    font-weight: normal
    font-size: 40px

a
    color blue

a:hover
    color actioncolor

p 
    font-family: main

label
    font-family main
    font-size 20px

input
select
textarea
    border 1px solid blue
    border-radius 0
    font-size: 20px
    padding: 4px
    font-weight: normal
    font-family styled


input:hover
select:hover
textarea:hover
    border 1px solid actioncolor

input:active
select:active
textarea:active
input:focus
select:focus
textarea:focus
    box-shadow none
    border 1px solid actioncolor

.modal-header
    background-color bluegreen
    color white
    font-family styled
    font-size 26px
    padding 20px
    border-top-left-radius 5px
    border-top-right-radius 5px

.modal-body
    font-family main

    input
    select
        border 1px solid blue
        border-radius 0
        font-family styled

        &:hover
            border 1px solid orange

        &:focus
        &:active
            border 1px solid blue
            box-shadow none

/*      COZY BUTTONS    */
.btn
    // position: relative for spinner
    position relative

    &.btn-cozy
        background-color blue
        border 0px solid blue
        padding 5px
        font-family main
        color white

        .caret
            border-top-color white
            border-bottom-color white

        &:hover
            background-color actioncolor
            border-color actioncolor

        &.bigger
            font-size: 24px
            padding: 10px
            border-radius: 5px

        &:active
        &:focus
            border: 0px
            box-shadow 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)

    &.btn-cozy.toggled
        box-shadow 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)
        background-color blue - 10%

        &:hover
            background-color actioncolor - 10%

    &.btn-cozy-contrast
        background-color contrastcolor - 10%
        border-color contrastcolor - 10%
        color white

        &:hover
            background-color actioncolor
            border-color actioncolor

