blue = #1baaf4

body
    padding-left 20px
    padding-right: 20px

.mtl
    margin-top: 20px

.line
    input
        margin-top 10px

div.title
    margin: -20px
    margin-bottom: 5px
    padding: 10px
    width: 100% + 7px
    height: 70px
    color: blue
    background-color: blue
    img
        margin-left: 10px
        margin-right: 20px
        width: 50px
        background-color: blue

h1
    font-size: 30px
    font-style: bold
    color: white

h2
    padding: 10px 0 0 0

h2:first-child
    padding-top: 30px

#logo
    width: 250px

.explanation
    font-size: 16px

button.btn.btn-cozy.folder
    margin-top: 10px
    width: 300px
    height: 45px
    input
        width: 300px
        height: 45px
        margin-top: -35px
        opacity: 0
        cursor: pointer
        display: block
        position: absolute

button.btn.help
    width: 45px
    height: 45px
    border: 0
    padding-top: 10px
    background-color: transparent
    img
        opacity: 0.5
        width: 45px
    &:hover
        img
            opacity: 1

button.btn.btn-cozy.smaller
    font-size: 14px
    padding: 5px

button.disabled
    opacity: 0.5

button.btn.btn-cozy.right
    padding: 10px
    right: 10px
    position: fixed

button.btn.btn-cozy.top
    top: 80px

button.btn.btn-cozy.bottom
    font-size: 20px
    bottom: 20px

button.btn.btn-cozy.left
    font-size: 20px
    padding: 10px
    bottom: 20px
    left: 10px
    position: fixed

button.btn.btn-cozy.disabled
    &:hover
        background-color: blue

    &:active
    &:focus
        box-shadow: none

div.parameter
    margin-top: 10px

div.parameters
    padding-bottom: 40px
    padding-left: 10px

div.modifications
    padding-left: 10px

div.parameter.value
    padding-left: 20px
    margin-top: 0px
    button
        width: 200px
        position: fixed
        right: 100px
        margin-top: -4px

span.parameter.label
    font-size: 18px
