blue = #1baaf4

body
    padding 20px

.line
    input
        margin-top 10px

div.title
    margin: -20px
    margin-bottom: 5px
    padding: 10px
    width: 120%
    height: 70px
    color: blue
    background-color: blue
    img
        margin-right: 20px
        width: 50px
        background-color: blue

h1
    font-size: 30px
    font-style: bold
    color: white

h2
    padd: 20px

#logo
    width: 250px

.explanation
    font-size: 16px

button.btn.help
    width: 45px
    height: 45px
    border: 0
    padding-top: 10px
    background-color: transparent
    img
        opacity: 0.5
        width: 45px
    &:hover
        img
            opacity: 1

button.btn.btn-cozy.smaller
    font-size: 14px
    padding: 5px

button.disabled
    opacity: 0.5

button.btn.btn-cozy.disabled
    &:hover
        background-color: blue

    &:active
    &:focus
        box-shadow: none
